doctype html
html
  head
    block title
      meta(charset='utf-8')
      title Pizza App!
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
  body
    nav.navbar.navbar-default
      div.container-fluid
        a.navbar-brand(href='/') Pizza App
    div.container
      block content
