extends ./layout.jade

block content
    h1= 'ORDER #' + order.id

    div= 'Pizza: ' + order.pizza.name + ' (id:' + order.pizza.id + ')'
    div= 'Prix: ' + order.pizza.price
    div= 'Statut: ' + order.status
