extends ./layout.jade

block content
    div.page-header
      h1
        span.glyphicon.glyphicon-ok  VOTRE COMMANDE
    
    div.row
      div.col-lg-4
        div.panel.panel-success
          div.panel-heading
            h3.panel-title= 'ORDER #' + order.id
          div.panel-body
            div= 'Pizza: ' + order.pizza.name + ' (#' + order.pizza.id + ')'
            div= 'Prix: ' + order.pizza.price
            div= 'Statut: ' + order.status
