extends ./layout.jade

block content
    div.page-header
      h1
        span.glyphicon.glyphicon-cutlery  PIZZAS À LA CARTE
    ul.list-group
      each pizza in pizzas
        li.list-group-item
          div.row
            div.col-lg-4
              img(src='/public/' + pizza.name.toLowerCase() + '.jpg')
            div.col-lg-6
              h4= '#' + pizza.id  + ': ' + pizza.name
            div.col-lg-2
              form(action='/orders', method='POST')
                input(type='hidden', value=pizza.id, name='id', id='id')
                input(type='submit', value='commander', class='btn btn-primary pull-right')
